

 
 
 body{
    background-color: hsl(36, 100%, 99%);
    margin-left: 100px;
    margin-right: 80px;

    height: auto;

     
    
}
.top{
    margin-bottom: 10px;
}

.t{
    color: black;
    font-size: 70px;
    display: inline-block;
    position: relative;
    left: 20px;
}
.li{
    display: inline-block;
    position: relative;
    left:570px;
word-spacing: 30px;
cursor:pointer;
}
.game{
    width:700px;
    height: 300px;
}
.main{
    font-family: 'Inter', sans-serif;
    font-weight: 800;

    color: black;
    font-size: 50px;
    display: inline-block;
    position: relative;
    width: 30%;
    top: 200px;
    right: 703px;
    word-spacing: 8px;
}
.mainp{
    line-height: 2;
    position: relative;
    left: 350px;
    bottom: 50px;
    width: 30%;
}
.middleleft{
    display: inline-block;
    background-color:hsl(240, 100%, 5%) ;
    position: relative;
    bottom: 552.5px;
    left: 730px;
    width: 350px;

}
hr{
    width: 80%;
    border-top: 0;
 border-color: hsl(236, 13%, 42%);
    
}
p{
    color: hsl(236, 13%, 42%);
    font-size: 15px;
    padding: 10px;
    font-family: 'Inter', sans-serif;
}
h3{
    font-family: 'Inter', sans-serif;
    display: inline-block;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: aliceblue;
    padding: 10px;
}
h1{
    color: hsl(35, 77%, 62%);
}
.bo{
    text-transform: uppercase;
    margin-left: 500px;
    padding: 10px 30px 10px 30px;
    background-color: hsl(5, 85%, 63%);
    border-style:none ;
    color: #fff;
    cursor: pointer;
    position: relative;
    bottom: 40px;
    right: 140px;
}
.down{
    display:inline-flex;
    position: relative;
    bottom: 500px;
    line-height: 2;
} 

.boy{
    float: left;
    margin-right: 40px;
    position: relative;
    right: 30px;
    
    width: 100px;
    height: 170px;

}
.sm{
    font-family: 'Inter', sans-serif;
    color:hsl(240, 100%, 5%) ;
    display: inline-block;
    position: relative;
    bottom: 150px;
    left: 90px;
    width: 110%;
}
.star{
    padding-left: 40px;
}
.fire{
    padding-left: 100px;
    
}
.car{
    
    padding-left: 130px;
}
.kp{
    color: hsl(233, 8%, 79%);
    font-family: 'Inter', sans-serif;
    display: inline-block;
    position: relative;
    bottom: 30px;
    right: 40px; 

}
.ak{
    font-family: 'Inter', sans-serif;
    width: 80%;
    display: inline-block;
    position: relative;
    left: 90px;
    bottom: 170px
    
}
.attribution{
display: inline-flex;
position: absolute;
bottom:100px;
font-size: medium;

}
.sm:hover{
    color:orange;
}
.bo:hover{
    background-color: black;
}
.li:hover{
    color: #000;
}
